.alert {
    padding: 0.5em 1em;
    margin-bottom: 0.5em;

    &--success {
        background-color: lightgreen;
        border: 1px solid green;
    }

    &--error {
        background-color: rgb(255, 224, 229);
        border: 1px solid red;
    }
}